/*Master Styles*/
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*Begin Navigation Styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;

}

.left-side, .right-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    text-transform: uppercase;
}

.left-nav-link-wrapper, .right-nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.left-nav-link-wrapper a, .right-nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.left-nav-link-wrapper:hover, .right-nav-link-wrapper:hover {
    border-bottom: 1px solid rgb(74, 74, 153);
}

.left-nav-link-wrapper a:hover, .right-nav-link-wrapper a:hover {
    color: black;
}
/*End Navigation Styles*/

/*Start Portfolio Styles*/
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.img-text-wrapper .logo-wrapper img {
    transition: 1s;
    filter: opacity(0%);
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper:hover .logo-wrapper img {
    filter: opacity(100%)
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-text-wrapper .logo-name {
    transition: 1s;
    color: transparent;
    margin: 0;
}

.img-text-wrapper:hover .logo-name {
    color: white;
}

.img-darken {
    transition: 1s;
    filter: brightness(5%);
}

